/* Header */
.header {
    padding: 15px;
    color: #ffffff;
    text-align: center;
    width:fit-content;
    display: flex;
    flex-direction: column;
}

.header h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.header h2 {
    font-size:24px;
}

.header img {
    max-width: 30%;
    flex: 1 0 100%;
    margin-bottom: 15px;
    align-self: center;
}

/* Navigation */
nav {
    display:flex;
    /* background-color:darkgreen; */
    padding: 12px 15px;
    margin: 5px 0;
    width: 100%;
    justify-content: center;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid blue;
    padding: 10px 10px;
    border-radius: 5px 5px;
}

nav li {
    margin: 0 20px;
    
}

nav a {
    color: orange;
}

nav a:hover {
    color: blue;
    font-weight:bold;
}

/* Project Wrapper */
main {
    display:flex;
}

article {
    
}

/* Styles for Projects */
.projects {
    margin: 20px 20px;
    display: inline-block;
    text-align:center;
    width:fit-content;
}

.projects h2 {
    margin: 10px 10px;
}

.projects p {
    margin: 10px 10px;
}

.projects img {
    margin: 10px 10px;
    max-width: 30%;
}

/* Footer Section */
.footer {
    margin: 20px 0;
    display: flex;
    width:100%;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.footer h2 {
    margin: 0 10px;
}

.footer ul {
    display: inline-flex;

}

.footer li {
    margin: 0 20px;
    padding:0;
    font-size: 16px;
    font-weight:bold;
}

.footer a {
    
}

.footer a:hover {
    color: blue;
}

/* Responsive Media Queries */
