/* Header */
.header {
    padding: 50px;
    color: #000;
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: grey;
    justify-content:flex-start; 
}

.header .head-title {
    display:flex;
    margin:0;
    padding:0;
    width: 45vw;
    justify-content: right;
}

.head-title h1 {
    font-size: 30px;
}

/* Navigation */
.header nav {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    align-self:center;
}

.header nav li {
    margin: 0 20px;
    
}
/* Wrapper for Mid Section to Center it on Desktop */
.wrapper {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 auto;
}

/* Bio Section */
.bio {
    width: 90%;
    padding: 15px;
    color: #000;
    display: flex;
    flex-direction: row; 
    justify-content:flex-start; 
}

.bio .biotitle {
    display:flex;
    width: 40%;
    height: auto;
    border-right: 3px solid black;
    align-items:center;
    justify-content: right;
    padding-right: 20px;
}

.bio .biotitle h2 {
    font-size:24px;
    text-align:right;
}

.bio .bioelements {
    display:flex;
    height: auto;
    align-items:center;
    justify-content: right;
}

.bio .bioelements img {
    max-width: 30%;
    flex: 1 0 100%;
    margin: 0 15px;
    align-self: center;
    max-width: 30%;
    border-radius: 15px;
    border: 2px solid white;
}

.bio .bioelements p {
    align-self:center;
}

/* Project Wrappers */
main {
    width: 90%;
    padding: 15px;
    color: #000;
    display: flex;
    flex-direction: row; 
    justify-content:flex-start; 
    margin: 0 auto;
}

article {
    width: 90%;
    display:flex;
    text-align:center;
    width:90%;
    align-items:stretch;
}

/* Styles for Projects */

.previous-projects {
    display:flex;
    width: 40vw;
    height: auto;
    border-right: 3px solid black;
    align-items:center;
    justify-content: right;
    padding-right: 20px;
}

.previous-projects h2 {
    font-size:24px;
    text-align:right;
}

.projects {
    margin: 20px 20px;
    display: column;
    text-align:left;
    width:90%;
}

.projects .first {
    margin: 20px 20px;
    display: inline;
    text-align:left;
    width:90vh;
}

.project-headers {
    width:40%;
}

.project-headers h2 {
    margin: 10px 10px;
    text-align:center;
}

.project-info {

}

.project-info p {
    margin: 10px 10px;
}

.project-info img {
    margin: 10px 10px;
    max-width: 30%;
    border-radius: 15px;
    border: 2px solid black;
}

.project-info .larger img {
    max-width: 50%;
}

/* Footer Section */
.footer {
    display: flex;
    margin:0;
    padding: 50px;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    background-color:grey;
    text-align:center;
}

.footer h2 {
    margin:0;
    padding:0;
    font-size:28px;

}

.footer ul {
    display: inline-flex;
    align-self:center;
}

.footer li {
    margin: 0 20px;
    padding:0;
    font-size: 16px;
    font-weight:bold;
}


/* Responsive Media Queries */

/* Responsive Header */
@media screen and (max-width: 768px) {
    .header, main {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 420px) {
    .header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .header nav ul {
        display: flex;
        flex-direction: column;
    }
}

  /* Responsive Wrapper */
  @media screen and (max-width: 412px) {
    .wrapper {
           flex-direction:column;
     }
 }
 
 /* Responsive Bio */
  @media screen and (max-width: 768px) {
    .bio {
    flex-direction:column;
  }
}

  @media screen and (max-width: 412px) {
    .bio {
        flex-direction:column;
      }
}

/* Responsive Footer */
@media screen and (max-width: 412px) {
    .footer {
        flex-direction:column;
      }
}