/* Header */
.header {
    padding: 50px;
    color: #000;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: grey;
    justify-content:center; 
}

.head-title {
    display:flex;
    margin:0 0 20px 0;
    padding:0;
    width: 45vw;
    justify-content: center;
    align-self:center;
}

.head-title h1 {
    font-size: 30px;
}

/* Navigation */
.header nav {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self:center;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    align-self:center;
}

.header nav li {
    margin: 0 20px;
    
}
/* Wrapper for Mid Section to Center it on Desktop */
.wrapper {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 auto;
}

/* Bio Section */
.bio {
    width: 90%;
    padding: 15px;
    margin: 0 auto;
    color: #000;
    display: flex;
    flex-direction: row; 
    justify-content:center; 
}

.bio .biotitle {
    display:flex;
    min-width: 20%;
    height: auto;
    border-right: 3px solid gold;
    align-items:center;
    justify-content: right;
    padding-right: 20px;
}

.bio .biotitle h2 {
    font-size:24px;
    text-align:right;
}

.bio .bioelements {
    display:flex;
    height: auto;
    align-items:center;
    justify-content: right;
}

.bio .bioelements img {
    max-width: 30%;
    flex: 1 0 100%;
    margin: 0 15px;
    align-self: center;
    max-width: 30%;
    border-radius: 15px;
    border: 2px solid white;
}

.bio .bioelements p {
    align-self:center;
}

/* Project Wrappers */
main {
    width: 90%;
    padding: 15px;
    color: #000;
    display: flex;
    flex-direction: row; 
    margin: 0 auto;
}

.article-wrapper {
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:row;
    justify-content:center; 
}

article {
    flex: 1 1 20%;
    display:column;
    text-align:center;
    align-items:left;
    flex-direction:row; 
}

section {
    display:flex;
    align-items:left;
    justify-content:left;
    flex-direction:column;
}

/* Styles for Projects */

.previous-projects {
    display:flex;
    min-width: 20%;
    border-right: 3px solid gold;
    align-items:center;
    justify-content: right;
    padding-right: 20px;
    flex-direction:row;
    align-self:left;
    /* text-align:right; */
}

.previous-projects h2 {
    font-size:24px;
    text-align:right;
}

.projects>* {
    margin: 20px 15px;
    flex: 1 1 100%;
    flex-direction:row;
    justify-content:left;
}

.project-headers {
    width:40%;
    align-self:center;
}

.project-headers h2 {
    margin: 10px 10px;
    text-align:center;
}

.project-info {
    display:flex;
    /* height: auto; */
    align-items:center;
    justify-content: right;
}

.project-info p {
    margin: 10px 10px;
}

.project-info img {
    margin: 10px 10px;
    max-width: 70%;
    border-radius: 15px;
    border: 2px solid black;
}

.larger img {
    max-width: 90%;
}

/* Footer Section */
.footer {
    display: flex;
    margin:0;
    padding: 50px;
    background-color:grey;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
}

.footer-heading {
    display:flex;
    justify-content:center;
    text-align:center;
}

.footer h2 {
    margin:0;
    padding:0;
    font-size:28px;

}

.footer-nav {
    display:flex;
    justify-content:center;
    text-align:center;
}

.footer ul {
    display: inline-flex;
    align-self:center;
}

.footer li {
    margin: 0 20px;
    padding:0;
    font-size: 16px;
    font-weight:bold;
}


/* Responsive Media Queries */

/* Responsive Header */
@media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
  }

@media screen and (max-width: 420px) {
    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .head-title {
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .head-title {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .header nav ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .header nav ul {
        flex-direction: column;
    }
}

  /* Responsive Wrapper */
@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction:column;
     }
 }

@media screen and (max-width: 420px) {
    .wrapper {
        flex-direction:column;
     }
 }
 
 /* Responsive Bio */
@media screen and (max-width: 768px) {
    .bio {
        flex-direction:column;
  }
}

@media screen and (max-width: 420px) {
    .bio {
        flex-direction:column;
      }
}

@media screen and (max-width: 768px) {
    .biotitle {
        flex-direction:column;
      }
}

@media screen and (max-width: 420px) {
    .biotitle {
        flex-direction:column;
      }
}

@media screen and (max-width: 768px) {
    .bioelements {
        flex-direction:column;
      }
}

@media screen and (max-width: 420px) {
    .bioelements {
        flex-direction:column;
      }
}

/* Responsive Projects */

@media screen and (max-width: 768px) {
    .previous-projects {
    flex-direction:column;
  }
}

@media screen and (max-width: 420px) {
    .previous-projects {
        flex-direction:column;
      }
}

@media screen and (max-width: 768px) {
    .article-wrapper {
    flex-direction:column;
  }
}

@media screen and (max-width: 420px) {
    .article-wrapper {
        flex-direction:column;
      }
}

/* Responsive Footer */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction:column;
      }
}

@media screen and (max-width: 768px) {
    .footer-heading {
        flex-direction:column;
      }
}

@media screen and (max-width: 768px) {
    .footer-nav {
        flex-direction:column;
      }
}

@media screen and (max-width: 420px) {
    .footer {
        flex-direction:column;
      }
}

@media screen and (max-width: 420px) {
    .footer-heading {
        flex-direction:column;
      }
}

@media screen and (max-width: 420px) {
    .footer-nav {
        flex-direction:column;
      }
}